a:hover {
    font-size: 12px;
    transition: 0.5s;
    }
    .profile-container{
      margin: auto;
      width: 60%;
      height: auto;
      text-align: center;
      color: gray
    }
    .personal-detail-container{
      padding: 30px;
      width: 98%;
      height: auto;
      display: flex;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    }
  
    .fa{
      padding: 10px;
      color: rgb(48, 127, 138);
      }
      
    .profile-image{
      width: 35%;
      height: auto;
      margin-right: 35px;
    }
    .profile-detail{
      padding: 10px;
      width: 60%;
      height: auto;
    }
    .account-detail-container{
      padding: 30px;
      width: 98%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    }
  .details-container {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
  }
  .profile-pic {
    padding: 30px;
    flex: 1;
  }
  .personal-detail {
    flex: 2;
    padding: 30px;
  }
  .account-detail {
    flex: 2;
    padding: 30px;
    margin-bottom: 20px;
  }
  .profile-pic img{
  width: 200px;
  height: 200px;
  
  } 
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
  th, td {
    text-align: right;
    /* padding: 10px; */
    font-size: 15px;
  }
  
  th {
    color: rgb(3, 26, 54);
  }
  
  th:first-child, td:first-child {
    text-align: left;
  }
  
  caption{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
  }
  .fa-check {
    color: rgb(116, 187, 9);
  }
  .fa-map-marker{
    color: rgb(170, 7, 7);
  }
  .fa-calendar-o{
    color: rgb(170, 7, 7);
  }
  .fa-envelope{
    color: rgb(157, 200, 240);
  }
  .fa-user{
    color: rgb(157, 200, 240);
  }
  
  @media screen and (max-width: 1024px) {
    .personal-detail-container{
      flex-wrap: wrap;
    }
    .profile-detail{
      width: 90%;
    }
    .profile-container{
      width: 90%;
    }
  }
  
  